body {

	margin: 0;
	padding: 0;

	min-width: 768px;
	

	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;

	background-color: #f2f2f2;
	background-position: top center;
	background-size: 1200 auto;
	
	background-repeat: no-repeat;
}

.inner-page {
	background-color: #fefefe;
	margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


.main-header {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative; 
}

.header-logo {
	display: block;
	position: absolute;
	margin: 0 auto;
	width: 138px;
	height: 70px;
}

.main-navigation {
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	background-color: #ffffff;
}


.site-navigation {
	margin: 0;
	padding: 0;
	min-height: 56px;
    list-style: none;
    display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.site-navigation-info {
	display: block;
	padding: 15px 75px 15px 72px;
}

.site-navigation-photo {
	display: block;
	padding: 15px 69px 15px 73px;
}

.site-navigation-map {
	display: block;
	padding: 15px 74px 15px 76px;
	padding-left: 320px;
}

 .site-navigation-hotels {
	display: block;
	padding: 15px 73px 15px 88px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.caption {
	background-color: #000000;
	

}


.caption-main {
	min-height: 508px;
	display: flex;
	justify-content: center;
	
	background-image: url("../img/background-photo.jpg");
	align-items: center;
	margin: 0 auto;
	font-size: 0px;
	width: 100%;
	margin-bottom: 63px;


}

.advantage-header {
	background-color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 53px;

}

.advantage-header-title {
	min-width: 576px;
}


.advantage-header h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.advantage-header p {
	line-height: 26px;
	color: #333333;
	margin: 0 auto; 
}
  
.advantage {
   
}

.advantage-list {
	margin: 0;
	padding: 0;
	list-style: none;

	
	display: flex;
	flex-wrap: wrap;
	min-height: 1024px; 
	
}




.advantage-first {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	width: 400px;
	height: 256px;
	

}

.advantege-picture {
	width: 800px;
	height: 400px;
}

.advantage-first h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantage-first p {
	line-height: 21px;
	font-weight: 400;
}

.advantage-second {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	width: 400px;
	height: 256px;

}

.advantage-second h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantage-second p {
	line-height: 21px;
	font-weight: 400;
}

.advantage-third {
	background-color: #eeeeee;
	text-align: center;
	width: 400px;
	height: 256px;
	
}

.advantage-third h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-third p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-fourth {
	background-color: #eeeeee;
	text-align: center;
	width: 400px;
	height: 256px;
	
}

.advantage-fourth h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-fourth p {
    line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-fifth {
	background-color: #eeeeee;
	text-align: center;
	width: 400px;
	height: 256px;

}

.advantage-fifth h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-fifth p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-home {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	height: 256px;
}

.advantage-home h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-home p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-food {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	height: 256px;
}

.advantage-food h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-food p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-gift {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	height: 256px;
}

.advantage-gift h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-gift p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #ffffff;
    text-align: center;

    
}

.search-title {
	width: 576px;
}
.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.search p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.btn-search {
	font: inherit;
	background-color: #766357;
	border: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
    color: #ffffff;
    width: 568px;
    height: 86px;
}

.btn-search:hover,
.btn-search:focus {
	background-color: #604e43;
}

.btn-search:active {
	background-color: #503e33;
}

.search-form {
	background-color: #ffffff;
	text-transform: uppercase;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	width: 568px;
}

.search-form-row {

}

.search-form-field {
	background-color: #f2f2f2
	border: 2px solid #e5e5e5;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
    color: #000000;
}

.search-form-field:hover,
.search-form-field:focus {
	background-color: #ebebeb
}

.search-form-field:active {
	background-color: #ffffff;
}

.search-form-row svg {
    fill: #cacaca;
}


.search-form-row svg:hover,
.search-form-row svg:focus {
	fill: #000000;
}

.search-form-row svg:active {
	fill: #81b3d2;
}

.btn-minus {
	background-image: url("../img/minus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-minus:hover,
.btn-minus:focus {
	background-image: url("../img/minus-black.png");
}

.btn-minus:active {
	background-image: url("../img/minus-blue.png");
}

.btn-plus {
	background-image: url("../img/plus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-plus:hover,
.btn-plus:focus {
	background-image: url("../img/plus-black.png");
}

.btn-plus:active {
	background-image: url("../img/plus-blue.png");
}



.find-btn {
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	color: #ffffff;

}

.find-btn:hover,
.find-btn:focus {
    background-color: #669ec0;
}

.find-btn:active {
	background-color: #5496bd;
}

.main-footer {
	background-color: #f9fbf6;
	min-height: 120px;
	
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	



}

.main-footer h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	margin: 0;
	padding: 48px; 
	margin-left: 132px;
	
}

.footer-social {
	
  
}

.footer-social ul {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    padding: 0;

  
    list-style: none;
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;

}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	margin-right: 101px;
 }


.footer-copyright svg{
	width: 115px;
	height: 41px;
	fill: #231f20;
}

.footer-copyright svg:hover,
.footer-copyright svg:focus {
	fill: #81b3d2
}

.footer-copyright svg:active {
    fill: #bdbbbc;
}






#active {
	color: #766357;
}

.filters-form {
	background-color: #000000;
	background-image: url("../img/background-hotels.jpg");
	background-repeat: no-repeat;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	
}

.btn-transparent {
	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.sorting-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.sorting-found {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
}

.sorting-item a:active {
	color: #000000;
}

.catalog-item h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.catalog-item h2:hover,
.catalog-item h2:focus {
	color: #81b3d2;
}

.catalog-item h2:active {
	color: #cacaca;
}
.catalog-item p {
	color: #333333;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0; 
}

.button-info:active {
	background-color: #5496bd;
	color: rgba(253,253,253,0.3);
}

.button-booking {
	font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
	background-color: #604e43;
}

.button-booking:active {
	background-color: #503e33;
}


