html {
  box-sizing: border-box; 
}

body {
    min-width: 1200px;
	margin: 0;
	padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;


	background-color: #f2f2f2;
	background-position: top center;
    background-repeat: no-repeat;
	
}

.inner-page {
	background-color: #fefefe;
	margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper {
	width: 100%;
	background-color: #ffffff;
}



.header-logo {
position: absolute;
margin: 0 auto;
left: 46%;
}

.main-navigation {
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	background-color: #ffffff;
	
}

.main-navigation-wrapper {
	display: flex;
	justify-content: space-between;
}



.site-navigation-left {
	margin: 0;
	padding: 0;
	color: #000000;
	list-style: none;
	width: 482px;
	display: flex;
	padding-left: 71px;
}

.site-navigation-right {
	margin: 0;
	padding: 0;
	color: #000000;
	list-style: none;
    width: 482px;
    display: flex;
    text-align: right;
    padding-right: 71px;
    
    
}

.site-navigation-cell {
	width: 241px;
	padding-top: 16px;
	padding-bottom: 16px;

	
}

.site-navigation-left a,
.site-navigation-right a {
	color: #000000;
}

.site-navigation-left a:hover,
.site-navigation-right a:hover {
  color: #81b3d2;
  }

.site-navigation-left a:focus
.site-navigation-right a:focus {
  color: #81b3d2;
}


.site-navigation-left a:active,
.site-navigation-right a:active {
	color: #cacaca;
}

.caption {
	background-color: #000000;
}

.caption-main {
	
	display: flex;
	justify-content: center;
	width: 100%;
	margin:0 auto;
	font-size: 0;
    background-image: url("../img/background-photo.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.main-header-logo {
	width: 458px;
	height: 352px;
	padding-top: 76px;
	padding-bottom: 80px;
}

.advantage-header {
	background-color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
	margin:0 auto;
	align-items: center;
	margin: 0;
    padding: 0;
}

.advantage-header-title {
	width: 576px;
	padding-top: 63px;
	padding-bottom: 51px;
}

.advantage-header h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	padding-left: 68px;
	padding-right: 68px;
	padding-bottom: 37px;
	margin: 0;
}

.advantage-header p {
	line-height: 26px;
	color: #333333;
	margin: 0;
}
  
.main {
	width: 100%;
}

.advantage-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.advantage-item {
	display: flex;
	
}

.advantage-first-item {
    background-color: #81b3d2;
	color: #ffffff;
    text-align: center;
	width: 400px;
}

.advantage-number {
	padding-bottom: 30px;
}

.advantage-first-item h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
	padding-top: 50px;
    padding-bottom: 30px;
}

.advantage-first-item p {
	line-height: 21px;
	font-weight: 400;
	margin: 0;
}

.advantage-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 67%;
	height: 256px;
}

.advantage-home img {
	padding-top: 57px;
	padding-bottom: 30px;
}

.advantage-home {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	
}	

.advantage-home h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding-bottom: 30px;
}

.advantage-home p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0;
	padding-bottom: 84px;
}

.advantage-food img {
	padding-top: 60px;
	padding-bottom: 30px;
}

.advantage-food {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	
}	

.advantage-food h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding-bottom: 30px;
}

.advantage-food p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0;
	padding-bottom: 84px;
}

.advantage-suvinirs img {
	padding-top: 56px;
	padding-bottom: 30px;
}

.advantage-suvinirs {
    background-color: #ffffff;
	text-align: center;
	width: 400px;
	
}	

.advantage-suvinirs h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding-bottom: 30px;
}

.advantage-suvinirs p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0;
	padding-bottom: 84px;
}

.advantage-third-item {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	width: 400px;
}

.advantage-third-item h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.advantage-third-item p {
	line-height: 21px;
	font-weight: 400;
	margin: 0;
}

.advantage-fourth-item {
	background-color: #eeeeee;
	text-align: center;
	width: 400px;
}

.advantage-fourth-item h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px; 
}

.advantage-fourth-item p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	margin: 0;
	padding-bottom: 60px;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.search-title {
	width: 576px;
}
.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	padding-top: 55px;
	padding-bottom: 32px; 
}

.search p {
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 50px;
}

.btn-search {
	font: inherit;
	background-color: #766357;
	border: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
    color: #ffffff;
    width: 568px;
    height: 86px;
}

.btn-search:hover,
.btn-search:focus {
	background-color: #604e43;
}

.btn-search:active {
	background-color: #503e33;
}

.search-form {
	background-color: #ffffff;
	text-transform: uppercase;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	width: 568px;
}

.search-form-row {

}

.search-form-field {
	background-color: #f2f2f2;
	border: 2px solid #e5e5e5;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
    color: #000000;
}

.search-form-field:hover,
.search-form-field:focus {
	background-color: #ebebeb
}

.search-form-field:active {
	background-color: #ffffff;
}

.search-form-row svg {
    fill: #cacaca;
}


.search-form-row svg:hover,
.search-form-row svg:focus {
	fill: #000000;
}

.search-form-row svg:active {
	fill: #81b3d2;
}

.btn-minus {
	background-image: url("../img/minus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-minus:hover,
.btn-minus:focus {
	background-image: url("../img/minus-black.png");
}

.btn-minus:active {
	background-image: url("../img/minus-blue.png");
}

.btn-plus {
	background-image: url("../img/plus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-plus:hover,
.btn-plus:focus {
	background-image: url("../img/plus-black.png");
}

.btn-plus:active {
	background-image: url("../img/plus-blue.png");
}

.find-btn {
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	color: #ffffff;
}

.find-btn:hover,
.find-btn:focus {
    background-color: #669ec0;
}

.find-btn:active {
	background-color: #5496bd;
}

.map {
display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 473px;
}

.main-footer {
	background-color: rgba(255,255,255,0.7);
    display: flex;
	justify-content: space-between;
	min-height: 120px;

	
}

.main-footer h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	margin: 0;
	margin-left: 132px;
	padding-top: 49px;
}

.footer-social {
}

.footer-social ul {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 36px; 
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;

}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	margin-right: 101px;
	display: flex;
 }
 .footer-copyright b {
 		padding-top: 49px;
 		padding-right: 8px;
 }


.footer-copyright svg{
	width: 115px;
	height: 41px;
	fill: #231f20;
	padding-top: 38px;
	

}

.footer-copyright svg:hover,
.footer-copyright svg:focus {
	fill: #81b3d2
}

.footer-copyright svg:active {
    fill: #bdbbbc;
}






#active {
	color: #766357;
}

.filters-form {
	background-color: #000000;
	background-image: url("../img/background-hotels.jpg");
	background-repeat: no-repeat;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	
}

.btn-transparent {
	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.sorting-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.sorting-found {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
}

.sorting-item a:active {
	color: #000000;
}

.catalog-item h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.catalog-item h2:hover,
.catalog-item h2:focus {
	color: #81b3d2;
}

.catalog-item h2:active {
	color: #cacaca;
}
.catalog-item p {
	color: #333333;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0; 
}

.button-info:active {
	background-color: #5496bd;
	color: rgba(253,253,253,0.3);
}

.button-booking {
	font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
	background-color: #604e43;
}

.button-booking:active {
	background-color: #503e33;
}


