body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-position: top center;
	background-repeat: no-repeat;
}

.inner-page {
	background-color: #fefefe;
	margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}	

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;

	background-color: #ffffff;

}

.site-navigation {
	list-style: none;
}
.site-navigation a {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.caption {
	background-color: #000000;
	background-image: url(../img/background-photo.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 510;

}

.advantage-header {
	background-color: #ffffff;
	text-align: center;
}

.advantage-header h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.advantage-header p {
	font-size: 14px;
	line-height: 26px;
	color: #333333; 
}

.advantage {
   
}

.advantage-list {
}

.advantage-first {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.advantage-first h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantage-first p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400px;
}

.advantage-second {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.advantage-second h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantage-second p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.advantage-third {
	background-color: #eeeeee;
	text-align: center;
}

.advantage-third h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-third p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-fourth {
	background-color: #eeeeee;
	text-align: center;
}

.advantage-fourth h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-fourth p {
    font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-fifth {
	background-color: #eeeeee;
	text-align: center;
}

.advantage-fifth h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-fifth p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.more-advantages {

}

.advantage-home {
    background-color: #ffffff;
	text-align: center;
}

.advantage-home h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-home p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-food {
    background-color: #ffffff;
	text-align: center;
}

.advantage-food h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-food p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.advantage-gift {
    background-color: #ffffff;
	text-align: center;
}

.advantage-gift h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.advantage-gift p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.search {
    background-color: #ffffff;
    text-align: center;
}

.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.search p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.btn-search {
	font: inherit;
	background-color: #766357;
	border: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
    color: #ffffff;
}

.btn-search:hover,
.btn-search:focus {
	background-color: #604e43;
}

.btn-search:active {
	background-color: #503e33;
}

.search-form {
	background-color: #ffffff;
	text-transform: uppercase;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.search-form-row {

}

.search-form-field {
	background-color: #f2f2f2
	border: 2px solid #e5e5e5;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
    color: #000000;
}

.search-form-field:hover,
.search-form-field:focus {
	background-color: #ebebeb
}

.search-form-field:active {
	background-color: #ffffff;
}

.search-form-row svg {
    fill: #cacaca;
}


.search-form-row svg:hover,
.search-form-row svg:focus {
	fill: #000000;
}

.search-form-row svg:active {
	fill: #81b3d2;
}

.btn-minus {
	background-image: url("../img/minus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-minus:hover,
.btn-minus:focus {
	background-image: url("../img/minus-black.png");
}

.btn-minus:active {
	background-image: url("../img/minus-blue.png");
}

.btn-plus {
	background-image: url("../img/plus.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-plus:hover,
.btn-plus:focus {
	background-image: url("../img/plus-black.png");
}

.btn-plus:active {
	background-image: url("../img/plus-blue.png");
}



.find-btn {
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	color: #ffffff;

}

.find-btn:hover,
.find-btn:focus {
    background-color: #669ec0;
}

.find-btn:active {
	background-color: #5496bd;
}

.main-footer {
	background-color: #f9fbf6;
}

.main-footer h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social {

}

.footer-social svg {
	stroke: #81b3d2;
}

.footer-logo {

}

.footer-logo a {
	font-size: 14px;
	line-height: 26px;


	

}


.footer-logo svg {
	width: 115px;
	height: 41px;
	fill: #231f20;
	
	
}

.footer-logo svg:hover,
.footer-logo svg:focus {
	fill: #81b3d2
}

.main-footer svg:active {
    fill: #bdbbbc;
}

#active {
	color: #766357;
}

.filters-form {
	background-color: #000000;
	background-image: url("../img/background-hotels.jpg");
	background-repeat: no-repeat;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	
}

.btn-transparent {
	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
}

.sorting-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.sorting-found {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
}

.sorting-item a:active {
	color: #000000;
}

.catalog-item h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.catalog-item h2:hover,
.catalog-item h2:focus {
	color: #81b3d2;
}

.catalog-item h2:active {
	color: #cacaca;
}
.catalog-item p {
	color: #333333;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
	background-color: #669ec0; 
}

.button-info:active {
	background-color: #5496bd;
}

.button-booking {
	font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
	background-color: #604e43;
}

.button-booking:active {
	background-color: #503e33;
}

